/* CardSwap.css */

.card-swap-container {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 auto;

  display: grid;
  place-items: center;

  perspective: 900px;
  transform-origin: center center;
  overflow: visible;
}



@media (max-width: 700px) {
  .card-swap-container {
    transform: scale(0.8);
  }
}

@media (max-width: 480px) {
  .card-swap-container {
    transform: scale(0.68);
  }
}

.card {
  position: absolute;
  top: 50%;
  left: 50%;

  transform-style: preserve-3d;
  will-change: transform;

  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;

  /* Visuals handled by AwardsCarousel.css */
  border-radius: 18px;
}
