.page.image-accordion-page {
  background: #141415;
}

.page.image-accordion-page .bg {
  background-size: cover;
  position: fixed;
  width: 100vh;
  min-width: 100vh;
  max-width: 100vh;
  height: 100vh;
  min-height: 100vh;
  max-height: 100vh;
  top: 0;
  left: 0;
  filter: grayscale(5);
  transition: background 0.5s;
}

.page.image-accordion-page .bg::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgb(0 0 0 / 80%);
  backdrop-filter: blur(16px);
}

.image-accordion-item {
  position: relative;
  overflow: hidden;
  background: #ffffff;
  width: 64px;
  height: 500px;
  border-radius: 36px;
  display: flex;
  align-items: flex-end;
  opacity: 0.25;
  cursor: pointer;
  transition: 0.5s;
}

.image-accordion-item:hover {
  opacity: 0.5;
}

h2,
p {
  margin: 0;
}

.image-accordion {
  display: flex;
  gap: 12px;
}

.image-accordion-item {
  cursor: pointer;
}

.image-accordion-item h2 {
  font-size: 24px;
  font-weight: 400;
  color: rgb(255 255 255 / 96%);
}

.image-accordion-item p {
  color: rgb(255 255 255 / 66%);
}

.image-accordion-item.active {
  width: 400px;
  opacity: 1;
}

.image-accordion-item .material-symbols-outlined {
  display: grid;
  place-items: center;
  width: 50px;
  height: 50px;
  background: rgb(255 255 255 / 20%);
  border-radius: 50%;
  font-size: 28px;
}

.image-accordion-item .content {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 400px;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  padding: 100px 0 20px 20px;
  display: flex;
  align-items: center;
  gap: 14px;
  background: linear-gradient(to bottom, rgb(0 0 0 / 0%), rgb(0 0 0 / 80%));
  transition: 0.25s;
}

.image-accordion-item.active .content {
  opacity: 1;
  visibility: visible;
}

.image-accordion-item img {
  position: absolute;
  z-index: 0;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  height: 150%;
  filter: grayscale(0.5);
}

.accordion {
  width: 90%;
  max-width: 600px;
  margin: 2rem auto;
}

.item {
  margin-bottom: 1rem;
  border: 1px solid #c9a24d; /* gold */
  border-radius: 5px;
  overflow: hidden;
}

.header {
  background-color: #0b1c2d; /* navy */
  color: #c9a24d;
  padding: 1rem;
  width: 100%;
  text-align: left;
  font-weight: bold;
  cursor: pointer;
  border: none;
}

.content {
  background-color: #111b2c;
  color: white;
  padding: 1rem;
  list-style: none;
}
