.season-table-container {
  padding: 20px;
  overflow-x: auto;
  font-family: "Roboto", sans-serif;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.tabs {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 15px;
}

.tabs button {
  padding: 8px 16px;
  border: none;
  background: #222;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

.tabs button.active {
  background: #f7b500; /* Canterbury gold */
  color: #222;
}

.search-input {
  display: block;
  margin: 0 auto 15px auto;
  padding: 8px 12px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 300px;
  text-align: center;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table th,
table td {
  border: 1px solid #ccc;
  padding: 8px 12px;
  text-align: center;
  cursor: pointer;
}

table th {
  background-color: #0e0d0e;
  color: #f7b500;
}

table tr:nth-child(even) {
  background-color: #1a1a1a;
  color: #fff;
}

.top-performer {
  background-color: #f7b500;
  color: #0e0d0e;
  font-weight: bold;
}
